* {
	box-sizing: border-box;
	outline: none;
}


body {
	font-size: 0;
	margin: 0;
	min-width: 980px;
	font-family: "Open Sans" san-serif;
	overflow-x: hidden;: 
}

section {
	/*outline: 1px solid red;*/
}

div, section, img, section, h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/*^^^^^^^^^^^Global setting^^^^^^^^^^^^^^^^*/


.container {
	max-width: 1170px;
	min-width: 980px;
	margin: 0 auto;
	/*outline: 1px solid gold;*/
}


header {
	position: relative;
	padding: 40px 120px 260px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/header/layer-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


header::before,
header::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
}

header::before {
	border-bottom: 120px solid #fff;
	border-right: 960px solid transparent;
	right: 50%;
}

header::after {
	border-bottom: 120px solid #fff;
	border-left: 960px solid transparent;
	left: 50%;
}

.header__wrap {
	padding-top: 40px;
}

.logo {
	display: inline-block;
	vertical-align: middle
	width: 140px;
	font-size: 50px;
	line-height: 16px;
}

.menu {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: calc(100% - 145px);
	margin-top: -40px;
	padding-left: 30px;
}

.menu a {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	font-weight: 700;
	color: #F1F2F6;
	margin-left: 60px;


}

.menu a:first-child {
	margin-left: 0;
}

.menu a:hover {
	padding-bottom: 16px;
	border-bottom: 1px solid #e74c3c;
	color: #e74c3c;
	transition: 0.3s;
}

.header__wrap {
	margin-top: 235px;
	text-align: center;

}



.header__uptitle {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

h1 {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 7.2px;
	margin-top: 45px;
}

.header__circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e74c3c;
	margin: 0 auto;
	margin-top: 45px;
	position: relative;

}

.header__circle::before,
.header__circle::after {
	content: '';
	position: absolute;
	width: 80px;
	height: 1px;
	border: 1px solid #f1ebe7;
	display: block;
	top: 2px;
	background-color:#f1ebe7;

}

.header__circle::before {
	left: calc(100% + 14px);
}

.header__circle::after {
	right: calc(100% + 14px);
}

.header__subtitle {
	width: 580px;
	color: #cbc6c0;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 46px;
}

.header__btn {
	margin-top: 68px;
}


.btn {
	width: 225px;
	height: 52px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 39.85px;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	border-radius: 3px;
	border:none;
	border: 1px solid #ffffff;
	background-color: transparent
}

.btn:hover {
	opacity: 0.5;
	transition: .3s;
}
.fas {
	color: white;
}

.btn__f {
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background-color: #e74c3c;
	margin-right: 30px;
	border:none;
}

/*Anchor*/

.anchor__btn {
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .25);
	position: absolute;
	left: calc(50% - 37px);
	bottom: -37px;
	padding: 5px;
	border:none;
	/*z-index: 1;*/
}

.anchor__wrap {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #f4f5f9;
	cursor: pointer;
}

.anchor__wrap img{
	position: relative;
	top: 10px;
}


/*History*/

.history {
	font-size: 15px;
	position: relative;
	margin-top: 110px;
}

.history__items {
	margin-top: 10px;

}

.history__item {
	width: calc((100% - 56px * 3) / 4);
	display: inline-block;
	text-align: center;
}

.history__item:not(.history__item__last) {
	margin-right: 52px;
}

.history__item h3 {
	position: relative;
	margin-bottom: 38px;
	/* Style for "CLEAN CODE" */
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
}

.history__item h3::after {
	position: absolute;
	content: "";
	width: 41px;
	height: 1.5px;
	bottom: -19px;
	right: calc(50% - 20px);
	background-color: #6a6a6a;
}

.history__item:hover .history__img {
	transform: rotate(45deg);
	border-color: #e74c3c;
	cursor: pointer;
	transition: 0.4s;
}
.history__item:hover .history__img img {
	transform: rotate(-45deg);
	cursor: pointer;
	transition: 0.4s;
}

.history__item:hover h3 {
	color: #e74c3c;
	transition: 0.4s;
	cursor: pointer;
}

.history__item:hover {
	cursor: pointer;
}

.history__img {
	padding: 25px;
	display: inline-block;
	width: 73px;
	height: 73px;
	border: 1px solid rgba(153, 153, 153, 0.25);
	margin-bottom: 30px;
}

.history__img img {
	max-width: 27px;
}
.history__img__first img {
	vertical-align: middle;
	margin: 0 auto;
	position: relative;
	left: -2px;

}

.history__img_large {
	padding: 21px 25px;
}

.history__item p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 12px;
/*	font-weight: bold;*/
	line-height: 20px;
	letter-spacing: 0.9px;
}

.horizontal__line {
	margin-top: 112px;
	opacity: 0.4;
}

/*History details*/

.history__details {
	font-size: 15px;
	padding-top: 141px;
}

.history__details__img {
	display: inline-block;
	width: calc((100% - 56px) * 0.45);
	margin-right: 56px;
	vertical-align: middle;
}

.history__details__text {
	display: inline-block;
	width: calc(100% * 0.52);
	vertical-align: middle;
}

.title {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin-bottom: 50px;
	position: relative;
	padding-left: 29px;
	border-left: 6px solid #e74c3c;

}
.history__details__text p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	padding-bottom: 42px;
}

.history__details__block {
	padding-bottom: 146px;
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
	transition: 0.7s;
}

/*Services*/

#service {
	background: #202020;
}

.service__block {
	max-width: 55.9%;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.service h2 {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	display: inline-block;
	margin-top: 110px;
	padding-right: 20px;
	border-right: 6px solid #e74c3c;;
	margin-right: 75px;
	line-height: 36px;

}

.service__block__item {
	margin-top: -30px;
	position: relative;
}

.service__block__item h3 {
	color: #e74c3c;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	margin-right: 71px;
	margin-top: 78px;
}

.service__block__item p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	margin-right: 71px;
	margin-top: 19px;
}

/*White circle*/

.service__items__img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #f4f5f9;
	position: absolute;
	right: -34px;
	top: 20px;
	transition: 0.4s;
}

.service__items__img:hover {
	background-color: #D2C7C5;
	transition: 0.4s;
	cursor: pointer;
	border: 2px solid #DDD3D1;
}

.service__items__img:hover + span{
	background-color: #e74c3c;;
	transition: 0.4s;
}

/*Line left*/

.left__line {
	display: inline-block;
	position: absolute;
	width: 2px;
	height: 40px;
	background-color: #999;
	left: -70px;
	top: -50px;
	transition: 0.4s;
}

.third__line {
	top: -90px;
}

.second__line {
	top: 1px;
}

.first__line {
	top: 90px;
}

.service__right {
	display: inline-block;
	width: 40%;
	overflow: cover;
	vertical-align: middle;
}


/*Work*/


.works {
	text-align: center;
	padding-top: 141px;
	width: 100%;
}

.title__main {

	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.subtitle {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	padding-top: 29px;
}

.common__circle::before,
.common__circle::after {
	content: '';
	position: absolute;
	width: 80px;
	height: 1px;
	border: 1px solid #999;
	display: block;
	top: 2px;
	background-color:#999;
}

.common__circle {
	margin-top: 28px;
}

.work__menu {
	width: 699px;
	height: 10px;
	color: #999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 70px;
}

.work__menu a {
	color: #999999;
	position: relative;
	transition: 0.2s
}

.work__menu a:not(:first-child) {
	margin-left: 30px;
}

.work__menu a:hover {
	color: #e74c3c;
	font-weight: 700;
}

.work__menu a:not(:last-child):before {
	content: "";
	position: absolute;
	width: 2px;
	height: 14px;
	background-color: #999;
	bottom: 2px;
	right: -17px;
	transform: skew(-20deg);
	transition: 0.2s
}

/*Portfolio*/

.porfolio {
	margin-top: 50px;
}

.porftolio__item {
	display: inline-block;
	width: 25%;
	height: 480px;
	text-align: left;
	position: relative;
	transition: 0.4s;
}

.porftolio__item:hover .porfolio__description {
	opacity: 1;
	transition: 0.4s;
}

.porftolio__item img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.porfolio__description {
	position: absolute;
	width: 480px;
	height: 480px;
	background-color: rgba(231, 76, 60, 0.8);
	bottom: 0px;
	left: 0px;
	opacity: 0;
}

.descr {
	position: absolute;
	bottom: 35px;
	left: 40px;
}

.descr h4 {
	color: #fff;
	font-family: "Source Sans Pro - Semibold";
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	position: relative;
}

.descr h4:before {
	content: "";
	position: absolute;
	width: 44px;
	height: 4px;
	background-color: #fff;
	top: -31px;
	left: 0;
}

.descr p {
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.7px;
	margin-top: 26px;
}

/*>>>>>>> Case Study <<<<<<<*/

.case {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 145px;
	background-color: #f4f5f9;
}
.case__content {
	margin-top: 69px;
	position: relative;

	
}
.case__text {
	display: inline-block;
	width: 56%;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	padding-top: 80px;
	z-index: 5;
	position: relative;
	margin-right: -80px;
	text-align: center;
	padding: 80px 61px 40px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.case__text h4 {
	color: #6a6a6a;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	text-align: center;
	margin-top: 64px;
	position: relative;
}
.case__text h4::after {
	content: "";
	width: 41px;
	height: 2px;
	background-color: #6a6a6a;
	position: absolute;
	top: 41px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.case__text p {
	width: 543px;
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.05px;
	margin: 0 auto;
	margin-top: 57px;
}
.case__text button {
	width: 145px;
	height: 46px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background-color: #e74c3c;
	color: #fff;
	font-family: "Open Sans - Semibold";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.14px;
	margin-top: 48px;
	outline: none;
	border:none;
}
.img__wrap {
	width: 117px;
	height: 117px;
	background-color: #e74c3c;
	margin: 0 auto;
	line-height: 127px;
	transform: rotate(45deg);
}
.center__img img {
	width: 21px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	transform: rotate(-45deg);
}


/*/////////////////////////Slider*/

.slider__btn {
	margin-top: 53px;
}
.sld {
	display: none;
	transition: 0.5s;
}
.slider__btn label {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #DDDDE1;
	color: red;
	display: inline-block;
	margin-left: 8px;
	transition: 0.5s;
}
.slider__btn label:nth-of-type(1){
	margin-left: 0;
}

.slider__btn input:checked+label {
	background-color: #e74c3c;
	transition: 0.5s;
}


/**************************Right photo*/
.case__photo {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	z-index: 1;
	position: relative;
}
.case__photo img {
	width: 100%;
	min-height: 722px;
}

/*///////////////////////Statistic>>>>>>>>>>*/

.statistic {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),  url(../img/statistic/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 157px;
	padding-bottom: 157px;
}
.stat__item {
	text-align: center;
	display: inline-block;
	width: (100% - 145px * 4);
	vertical-align: middle;
}
.stat__item:hover img {
	transform: hue-rotate(50deg);
}
.stat__item:not(:first-child) {
	margin-left: 147px;
}
.stat__circle {
	width: 111px;
	height: 111px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	position: relative;
	margin-bottom: 30px;
}
.stat__circle img {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 50%;
	margin-right: -15px;
}
.stat__item big {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 30px;
	margin-left: -10px;
}
.stat__item small {
	font-weight: 400;
	letter-spacing: 0.9px;
	font-size: 14px;
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	letter-spacing: 1.5px;
	display: block;
	line-height: 30px;
	margin: 0 auto;
}

/*.............Offer...................*/

.offer {
	text-align: center;
	padding-top: 156px;
	padding-bottom: 183px;
	font-size: 16px;
}
.offer__item {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	margin-top: 69px;
	cursor: pointer;
	background-color: #f4f5f9;
	transition: 0.4s;
}
.offer__item:hover .offer__title__wrap,
.offer__item:hover .offer__text button {
	background-color: #e74c3c;
	transition: 0.4s;
}
.offer__item:hover .offer__price big {
	color: #e74c3c;
	transition: 0.4s;
}
.offer__item:not(:last-child) {
	margin-right: 16px;
}
.offer__title__wrap {
	width: 100%;	
	height: 205px;
	background-color: #999999;
	position: relative;
}
.offer__wrap {
	width: 174px;
	height: 174px;
	border-radius: 50%;
	border: 10px solid rgba(255, 255, 255, 0.25);
	margin: 0 auto;
	margin-top: 45px;
}
.offer__price {
	width: 154px;
	height: 153px;
	background-color: #ffffff;
	z-index: 22;
	border-radius: 50%;
	z-index: 28;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.offer__title__wrap span {
	width: 115px;
	height: 19px;
	color: #ffffff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-top: 50px;
	display: inline-block;
}
.offer__title__wrap big {
	display: inline-block;
	color: #999999;
	font-family: "Source Sans Pro";
	font-weight: bold;
	line-height: 21.95px;
	font-size: 40px;
	font-weight: 700;
}
.offer__title__wrap small {
	font-weight: 400;
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 13px;
	line-height: 21.95px;
}
.offer__text {
	background-color: #f4f5f9;
	padding-top: 105px;
}
.offer__text p{
	width: 205px;
	margin: 0 auto;
	color: #999999;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
}

.offer__text button {
	padding: 15px 29px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background-color: #999999;
	color: #ffffff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.14px;
	border: none;
	border-radius: 4px;
	margin-top: 48px;
	cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>TEAM>>>>>>>>>>>>>>>>>>>>*/


.team {
	background-image: url(../img/team/4-layers.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 744px;
	background-size: cover;
	background-position: center;
}
.title__team {
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	text-align: center;
	padding-top: 120px;
}
.subtitle__team{
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	text-align: center;

}
.team__item {
	display: inline-block;
	width: 18%;
	text-align: center;
}
.team__item:not(.team5) {
	margin-right: 28px;
}
.team__photo {
	width: 51px;
	height: 51px;
	border-radius: 50%;
	margin: 0 auto;
}
.team__photo img {
	border-radius: 50%;
	border: 3px solid #e74c3c;
	transition: 0.4s;
}
.team__text {
	position: relative;
}
.team__text::after {
	content: '';
	width: 1px;
	height: 57px;
	background:  rgba(255, 255, 255, 0.65);
	bottom: 100px;
	position: absolute;
	z-index: -1;
	opacity: 0;

}
.team__text p {
	color: #e74c3c;
	font-family: "Open Sans - Semibold";
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1.8px;
	text-align: center;
	padding: 0;
	margin-top: 80px;
}
.team__text span {
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 23.99px;
	letter-spacing: 1.4px;
	display: block;
	text-align: center;
	margin-top: 19px;
}
.team1 {
	transform: translateY(81%);
}
.team2 {
	transform: translateY(65%);
}
.team3 {
	transform: translateY(65%);
}
.team4 {
	transform: translateY(84%)
}
.team5 {
	transform: translateY(75%)
}

.team__op {
	opacity: 0;
	transition: 0.4s;
}
.team__item:hover .team__op, .team__item:hover .team__text::after {
	opacity: 1;
	transition: 0.4s;
}
.team__item:hover img {
	transform: scale(1.18);
	transition: 0.4s;
	box-shadow: 0 5px 13px 2px #000000;
}

/*>>>>>>>>>>>>>>>>>>>>Partner<<<<<<<<<<<<<<<<*/

.partner {
	background-color: #f4f5f9;
	text-align: center;
	padding-bottom: 141px;
	padding-top: 150px;
}
.parnter__row__first {
	margin-top: 70px;

}
.parnter__item {
	display: inline-block;
	min-width: 210px;
	height:100px;
	vertical-align: middle;
	font-size: 70px;
	position: relative;
	text-align: center;
	line-height: 120px;
	opacity: 0.31;
	box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.3);
	transition: 0.4s;
}
.parnter__item:hover{
	background-color: #e74c3c;
	opacity: 0.9;
	color: #fff;
	transition: 0.4s;
}

.parnter__item:not(:nth-child(5n+1)) {
	margin-left: 30px;
}
.parnter__item img{
	 outline: 1px solid green;
	 position: relative;
	 top: 50%;
	 margin-top: -25px;
	 left: 50px;
	 margin-left: -15px;
}
.parnter__row__second {
	margin-top: 30px;
}

/*<<<<<<<<<<<<<<<BLOG>>>>>>>>>>>>>>>>>>>>>*/

.blog {
	text-align: center;
	padding-top: 119px;
}
.blog__items {
	margin-top: 101px;
}

.blog__item {
	display: inline-block;
	width: 25%;
	height: 480px;
	box-sizing: border-box;
	vertical-align: middle;
}

.blog__item img {
	width: 100%;
	height: 100%;
}

.blog__text {
	height: 100%;
	padding: 70px 50px;
	display: inline-block;
	background-color: #e74e3e;
	position: relative;
}
.blog__text > small{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.7px;
	display: block;
	width: 150px;
	text-align: left;
}
.blog__text > big {
	display: block;
	color: #ffffff;
	font-family: "Source Sans Pro - Semibold";
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	text-align: left;
	margin-top: 32px;
	position: relative;
}
.blog__text > big::after {
	content: '';
	position: absolute;
	width: 44px;
	height: 4px;
	background-color: #ffffff;
	bottom: -15px;
	left: 0;
}
.blog__text > p {
	margin-top: 32px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	width: 95%;
	height: 136px;
	text-align: left;
}
.blog__text > p a {
	display: inline-block;
	color: #ffffff;
	font-family: "Open Sans - Semibold Italic";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	font-style: italic;
	margin-top: 45px;
}
.blog__text > p a:hover .fa-angle-double-right{
	margin-left: 15px;
	opacity: 0.4;
	transition: 0.3s;
}
.fa-angle-double-right {
	line-height: 24px;
	color: #ffffff;
	font-size: 18px;
	margin-left: 10px;
	vertical-align: middle;
	font-weight: 400;
	transition: 0.3s;
}
.tringle {
	border: 35px solid transparent;
	border-right: 30px solid #e74e3e;
	position: relative;
	left: -420px;
	top: -110px;
}
.tringle2 {
	border: 35px solid transparent;
	border-left: 30px solid #e74e3e;
	position: relative;
	right: -418px;
	top: -110px;
}

/*<<<<<<<<<<<<<<<Contact>>>>>>>>>>>>>>>>>>>>>*/

.contact {
	padding-top: 149px;
	padding-bottom: 150px;
	background-color: #f4f5f9;
}
.contact h2, .contact p {
	text-align: center;
}
.contact__block {
	margin-top: 69px;
}

.contact__addres {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 665px - 28px);
	padding: 41px 55px 61px;
	margin-right: 28px;
	background-color: #ffffff;
}
.contact__addres > span {
	color: #e74e3e;
	font-family: "Source Sans Pro - Semibold";
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 28px;
	margin-top: 60px;
}
.contact__addres > address {
	color: #999999;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
}
.contact__addres a {
	color: #999999;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	display: block;
}
.contact__form {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 478px - 28px);
	padding: 70px 65px 67px 85px;
	background-color: #ffffff;
}
.contact__form label {
	color: #999999;
	font-family: "Open Sans - Semibold";
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	display: block;
}
.contact__form > input {
	width: 464px;
	border: none;
	border-bottom: 1px solid rgba(153, 153, 153, 0.25);
	margin-bottom: 20px;
	color: #6A6A6A;
}
.contact__form textarea {
	border: 1px solid rgba(153, 153, 153, 0.25);
	color: #6A6A6A;
	
}
.contact__form button {
	width: 157px;
	height: 44px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background-color: #e74e3e;
	border: none;
	border-radius: 4px;
	display: block;
	margin-top: 30px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}
.contact__form button:hover {
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
	opacity: 0.9;
	transition: 0.3s;
}





